@import "_common.scss";
@import "_mixin.scss";
@import "_config.scss";
.wrap {
    background: $article-bg4;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}

section {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    flex: 1;
    article {
        width: 95%;
        height: 100%;
        margin: 0 auto;
        h4 {
            width: 95%;
            height: pxTorem(44px);
            line-height: pxTorem(44px);
            border-bottom: pxTorem(1px) solid #999;
            font-size: pxTorem(18px);
            padding: 0 pxTorem(8px);
            margin: pxTorem(10px) auto;
        }
        p {
            width: 95%;
            text-indent: pxTorem(10px);
            margin: pxTorem(6px) auto;
            font-size: pxTorem(16px);
            line-height: 1.5;
        }
    }
}

.top {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: pxTorem(55px);
    display: flex;
    align-items: center;
    display: none;
    .icon-back {
        width: pxTorem(50px);
        height: pxTorem(50px);
        @include bg("http://dushu.xiaomi.com/@EaSXPML.png");
        background-size: pxTorem(25px);
        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
    }
    .back {
        margin-left: pxTorem(60px);
        color: #fff;
        font-size: pxTorem(15px);
        height: pxTorem(55px);
        line-height: pxTorem(55px);
    }
    .more {
        width: pxTorem(50px);
        height: pxTorem(50px);
        @include bg("../img/icon-more.png");
        background-size: pxTorem(25px);
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
    }
}

.bottom {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 8;
    background: rgba(0, 0, 0, .85);
    height: pxTorem(120px);
    color: #fff;
    font-size: pxTorem(14px);
    .bottom-btn {
        display: flex;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: pxTorem(14px) pxTorem(15px);
        border-bottom: pxTorem(1px) solid #ccc;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }
    .bottom-list {
        ul {
            display: flex;
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: pxTorem(14px) pxTorem(20px);
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
        }
        a {
            text-decoration: none;
            color: #fff;
        }
        li {
            text-align: center;
            padding-bottom: pxTorem(8px);
        }
        .list span {
            width: pxTorem(30px);
            height: pxTorem(30px);
            @include bg("../img/icon-swicth-list.png");
            background-size: pxTorem(20px);
            display: block;
        }
        .font span {
            width: pxTorem(30px);
            height: pxTorem(30px);
            @include bg("../img/icon-font.png");
            background-size: pxTorem(20px);
            display: block;
        }
        .active {
            span {
                width: pxTorem(30px);
                height: pxTorem(30px);
                @include bg("../img/icon-font-active.png");
                background-size: pxTorem(20px);
                display: block;
            }
        }
        .night span {
            width: pxTorem(30px);
            height: pxTorem(30px);
            @include bg("../img/icon-night.png");
            background-size: pxTorem(20px);
            display: block;
        }
        .day span {
            width: pxTorem(30px);
            height: pxTorem(30px);
            @include bg("../img/icon-light.png");
            background-size: pxTorem(20px);
            display: block;
        }
        .load span {
            width: pxTorem(30px);
            height: pxTorem(30px);
            @include bg("../img/icon-down.png");
            background-size: pxTorem(20px);
            display: block;
        }
    }
}

.font-list {
    width: 100%;
    height: pxTorem(105px);
    position: absolute;
    bottom: pxTorem(70px);
    left: 0;
    z-index: 8;
    background: rgba(0, 0, 0, .85);
    color: #fff;
    .font-size {
        width: 100%;
        height: auto;
        padding: pxTorem(15px) 0;
        display: flex;
        align-items: center;
        p {
            margin: 0 pxTorem(20px);
        }
        button {
            width: pxTorem(75px);
            height: pxTorem(25px);
            line-height: pxTorem(25px);
            border: 1px solid #fff;
            border-radius: pxTorem(8px);
            text-align: center;
            color: #fff;
            margin-right: pxTorem(10px);
            outline: none;
            background: none;
        }
    }
    .font-bg {
        width: 100%;
        height: auto;
        padding: pxTorem(15px) 0;
        display: flex;
        align-items: center;
        p {
            margin: 0 pxTorem(20px);
        }
        ul {
            display: flex;
            li {
                margin: 0 pxTorem(8px);
                width: pxTorem(30px);
                height: pxTorem(30px);
                background: #fff;
                border-radius: 50%;
                position: relative;
                &:nth-child(1) {
                    background: #f7eee5;
                }
                &:nth-child(2) {
                    background: #e9dfc7;
                }
                &:nth-child(3) {
                    background: #e9dfc7;
                }
                &:nth-child(4) {
                    background: #cdefce;
                }
                &:nth-child(5) {
                    background: #283548;
                }
                &:nth-child(6) {
                    background: #0f1410;
                }
            }
            li.active {
                &:before {
                    content: "";
                    width: pxTorem(32px);
                    height: pxTorem(32px);
                    position: absolute;
                    left: -(pxTorem(2px));
                    top: -(pxTorem(2px));
                    border: 1px solid #9c4c05;
                    margin: 0 auto;
                    border-radius: 50%;
                }
            }
        }
    }
}

.mask {
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}