@import "_common.scss";
.wrap {
    width: 100%;
    height: 100%;
    background: #ccc;
    .box {
        width: 100%;
        height: 100%;
        margin: pxTorem(5px) pxTorem(10px);
        background: #fff;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .logo {
            width: 100%;
            height: auto;
            margin-top: pxTorem(8px);
            dl {
                dt {
                    width: pxTorem(40px);
                    height: pxTorem(40px);
                    margin: pxTorem(15px) auto;
                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
                dd {
                    text-align: center;
                }
            }
        }
        .user-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            input {
                width: 95%;
                height: pxTorem(40px);
                line-height: pxTorem(40px);
                margin: pxTorem(5px) auto;
                border-bottom: 1px solid #ccc;
                color: #ccc;
            }
            .button {
                background: #ff6700;
                color: #fff;
            }
        }
    }
}